

#logo{text-align:center;}

#aboutme{margin-top:65px; text-align:justify;}

#meetkat{border-radius: 25px;}

footer{

    background-color:#943133;
    color:white;
    border-top-style: solid;
    border-top-width: 5px;
    text-align:left;
    position:fixed;
    min-height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    font-family:sans-serif;
}

footer p{margin-left:30px;}